<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/msn-logo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <p class="card-text">
            <input class="form-control" type="email" [(ngModel)]="user.email" placeholder="email" />
            <input class="form-control" type="text" [(ngModel)]="user.username" placeholder="username" />
            <input class="form-control" type="password" [(ngModel)]="user.password" placeholder="password" />
          </p>
          <a href="#" class="btn btn-primary" (click)="login()">Entrar</a>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
